<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./head %>
    <link rel="stylesheet" href="css\styles.css"/>
</head>
<body>
<% include ./nav.ejs %>
<div class="container">
    <h1 class="page-header"><%= title %></h1>

    <form action="/vote" method="post">
        <% for(var i = 0; i < rows.length; i++)
        { %>
            <div class="radio">
                <label>
                    <input type="radio" name="selectedCandidate" value="<%= rows[i].idx %>"> <%= i + 1 %>
                    . <%= rows[i].candidate %>

                </label>
            </div>
        <%
        } %>
        <button type="submit" class="btn btn-default">투표하기</button>
    </form>

</div>

</body>
</html>
